<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="https://images.vexels.com/media/users/3/147375/isolated/preview/67ae8a155355e39d23b955cfc7218d62-2018-3d-green-logo-by-vexels.png"/>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>
<body>

{% include "backEnd/includes/header.html" %}

{% block body %}{% endblock %}

</body>
</html>