{% load static %}
<div class="card-header">
    <div class="header_area">
        <div class="header">
            <div class="logo_area">
                <a href="/">
                    <img style="margin-top: 5px; margin-right: -15px;" src="{% static 'const_images/python.png' %}" class="float_left" width="100" height="70"/><h2 class="float_left" id="title">Python Based App</h2>
                </a>
            </div>
            <div class="menu_area float_right">
                <a id="menu" href="/">Home</a>
                <a id="menu" href="/create_new_user/">Add New User</a>
            </div>
        </div>
    </div>
</div>