<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New</title>
</head>
<body>
    <form method="post" action="/user/create/">
        <table align="center">
            {% csrf_token %}
            <tr>
                <td>Name</td>
                <td><input type="text" name="user_name" placeholder="Enter name"/></td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td><input type="email" name="user_email" placeholder="Enter e-mail"/></td>
            </tr>
            <tr>
                <td>Mobile</td>
                <td><input type="text" name="user_phone" placeholder="Enter mobile"/></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Save Now</button>
                    <p style="color: green">{{ success }}</p>
                </td>
            </tr>
        </table>
    </form>
    <div style="text-align: center; margin-top: 50px">
        <a href="/">View Data</a>
    </div>
</body>
</html>